body 
{
    font-family: @font-base;
    
    color: @color-accent-shade-3;

    @media print
    {
        font-size: 10pt;
    }
}

@page
{
    size: A5;
    margin: 4mm;
    margin-top: 7mm;
    margin-bottom: 7mm;

    @bottom {
        content: counter(page);
    }
}

@page :left 
{
    margin-right: 14mm;
}

@page :right 
{
    margin-left: 14mm;
}
