/**
 *  Styles for the canvas elements. Canvas element will be the element that 
 *  would be used to draw the whole play. It should be inflenced by current
 *  display media type and size.
 *
 *  @author Paweł Kuźnik <pawel.kuznik@gmail.com>
 *  @file   canvas.less
 */
.canvas
{

    /**
     *  When dealing with screen version we shall add padding near the
     *  borders.
     */
    @media screen
    {
        box-sizing: border-box;
        padding-top: 5rem;
        padding-bottom: 15rem;
        padding-left: 7rem;
        padding-right: 7rem; 

        background-color: @color-complementary-tint-3;
    }

    /**
     *  Canvas on all screens bigger than 60rems should limit itself to 
     *  60rems at most. This way the illosion of a page will not be
     *  broken that easily.
     */
    @media screen and (min-width: 60rem)
    {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}
