

/**
 *  Color manipulation variables.
 */
@tint-base: 32%;
@shade-base: 32%;

/**
 *  Basic colors
 */
@color-accent: #295271;
@color-complementary: spin(@color-accent, 180);

// tints of complementary color
@color-accent-tint-1: tint(@color-accent, 1 * @tint-base);
@color-accent-tint-2: tint(@color-accent, 2 * @tint-base);
@color-accent-tint-3: tint(@color-accent, 3 * @tint-base);

// shades of accent color
@color-accent-shade-1: shade(@color-accent, 1 * @shade-base);
@color-accent-shade-2: shade(@color-accent, 2 * @shade-base);
@color-accent-shade-3: shade(@color-accent, 3 * @shade-base);

// tints of complementary color
@color-complementary-tint-1: tint(@color-complementary, 1 * @tint-base);
@color-complementary-tint-2: tint(@color-complementary, 2 * @tint-base);
@color-complementary-tint-3: tint(@color-complementary, 3 * @tint-base);

// shades of complementary color
@color-complementary-shade-1: shade(@color-complementary, 1 * @shade-base);
@color-complementary-shade-2: shade(@color-complementary, 2 * @shade-base);
@color-complementary-shade-3: shade(@color-complementary, 3 * @shade-base);

