
header
{
    font-family: @font-leading;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;

    h1, h2
    {
        text-align: center;
    }

    h1
    {
        font-size: 3.5em;
    }

    h2
    {
        font-size: 2em;
    }
}
