
section.scene
{
    padding: 1rem; 

    @media print
    {
        &::after
        {
            display: block;
            content: "\A0";
            page-break-before: always;  
        }
    }
}
