@import url(https://fonts.googleapis.com/css?family=Cinzel|Vollkorn);
/**
 *  Color manipulation variables.
 */
/**
 *  Basic colors
 */
/**
 *  The styles for main html element
 *  @author Paweł Kuźnik <pawel.kuznik@gmail.com>
 */
html {
  background-color: #ccbdb2;
}
body {
  font-family: 'Vollkorn', serif;
  color: #020305;
}
@media print {
  body {
    font-size: 10pt;
  }
}
@page {
  size: A5;
  margin: 4mm;
  margin-top: 7mm;
  margin-bottom: 7mm;
  @bottom {
    content: counter(page);
  }
}
@page :left {
  margin-right: 14mm;
}
@page :right {
  margin-left: 14mm;
}
/**
 *  Styles for the canvas elements. Canvas element will be the element that 
 *  would be used to draw the whole play. It should be inflenced by current
 *  display media type and size.
 *
 *  @author Paweł Kuźnik <pawel.kuznik@gmail.com>
 *  @file   canvas.less
 */
.canvas {
  /**
     *  When dealing with screen version we shall add padding near the
     *  borders.
     */
  /**
     *  Canvas on all screens bigger than 60rems should limit itself to 
     *  60rems at most. This way the illosion of a page will not be
     *  broken that easily.
     */
}
@media screen {
  .canvas {
    box-sizing: border-box;
    padding-top: 5rem;
    padding-bottom: 15rem;
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: #f9f8f6;
  }
}
@media screen and (min-width: 60rem) {
  .canvas {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
section.act {
  padding: 1rem;
}
@media print {
  section.act:after {
    display: block;
    content: "\A0";
    page-break-after: always;
  }
}
section.scene {
  padding: 1rem;
}
@media print {
  section.scene::after {
    display: block;
    content: "\A0";
    page-break-before: always;
  }
}
header {
  font-family: 'Cinzel', serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header h1,
header h2 {
  text-align: center;
}
header h1 {
  font-size: 3.5em;
}
header h2 {
  font-size: 2em;
}
@media print {
  section.title::after {
    display: block;
    content: "\A0";
    page-break-before: always;
  }
}
blockquote {
  margin: 1rem;
  margin-left: 2rem;
}
@media print {
  blockquote {
    margin-right: 0;
    orphans: 4;
  }
}
blockquote a {
  line-height: 1.5;
}
